{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="navigation text-center">#}
        {#{{ knp_pagination_render(pagination) }}#}
    {#</div>#}

    <table class="table table-bordered">
<thead>
    <tr>
        {#<th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 't.Name') }}</th>#}
        {#<th>{{ knp_pagination_sortable(pagination, 'Life'|trans, 't.Life') }}</th>#}
        {#<th>{{ knp_pagination_sortable(pagination, 'Experience'|trans, 't.Experience') }}</th>#}
        {#<th>{{ 'Actions'|trans }}</th>#}
        <th>{{  'Name'|trans }}</th>
        <th>{{ 'Life'|trans  }}</th>
        <th>{{  'Experience'|trans }}</th>
        <th>{{ 'Actions'|trans }}</th>
    </tr>
</thead>
<tbody>
    <tr>
{% for monster in monsters %}
<tr>
    <td>{{ monster.name }}</td>
    <td>{{ monster.health }}</td>
    <td>{{ monster.experience }}</td>
    <td>
        {## {{ url('user_view', {id: app.user.id}) }#}
        <a href="{{ url('monster_index') }}{{ monster.id }}" class="btn btn-dark">{{ 'Show'|trans }}</a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_granted("ROLE_ADMIN") or ( app.user.id  ==  monster.author.id ) %}
            <a href="{{ url('monster_index') }}edit/{{ monster.id }}" class="btn btn-light border border-secondary">{{ 'Edit'|trans }}</a>
                <a href="{{ url('monster_index') }}delete/{{  monster.id }}" onclick="return confirm('Czy na pewno usunąć potwora {{ monster.name }}?')" class="btn btn-danger ml-1 delete-monster" data-id=>
                    {{ 'Delete'|trans }}</a>
            {% endif %}
        {% endif %}
        {% if is_granted ("ROLE_ADMIN") %}

        {% endif %}
    </td>

</tr>
</tbody>
{% endfor %}
</tr>
    </table>

    {#<div class="navigation text-center">#}
        {#{{ knp_pagination_render(pagination) }}#}
    {#</div>#}
{% endblock %}