<nav class="navbar navbar-expand-sm navbar-dark bg-info mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Monster List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
             <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">{{ 'Home' | trans }}</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark">Zalogowano jako: {{ app.user.firstname }}</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/new">{{ 'Add Monster'|trans }}</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/register">{{ 'Register'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/login">{{ 'Login'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/logout">{{ 'Logout'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
