{% extends 'base.html.twig' %}

{% block title %} Edit User {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <br>
    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ url('user_index')}}" class="btn btn-success">Powrót</a>

    {% else %}
    <a href="{{ url('monster_index')}}" class="btn btn-success">Powrót</a>
    {% endif %}


    {#<a href="{{ url('user_index') }}" class="btn btn-primary">Powrót</a>#}
{% endblock %}